* {
    transition: all 0.3s;
  }

  body{
    
    height: 100%;
    text-align:center;
    background-color:#ffcc8e;
    background-image:
    linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88), 
    linear-gradient(45deg, #FFDD88 25%, transparent 25%, transparent 75%, #FFDD88 75%, #FFDD88),
    linear-gradient(45deg, transparent, transparent 50%, #FFC87F 50%, #FFC87F);
    animation: scroll 4s linear infinite;
    background-size: 100px 100px;
  }
  @keyframes scroll {
    from { background-position: 0 0, 50px 50px, 50px 0; }
    to { background-position: -100px -100px, -50px -50px, -50px -100px; }
  }
  nav {
    margin: 40px auto 0px;
    position: relative;
    width: 471px;
    height: 50px;
    background-color: #FFA12B;
    border-radius: 8px;
    font-size: 0;
    }
    nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    }
    nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
    }
    a:nth-child(1) {
    width: 100px;
    }
    a:nth-child(2) {
    width: 110px;
    }
    a:nth-child(3) {
    width: 100px;
    }
    a:nth-child(4) {
    width: 160px;
    }
    
    nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #e67e22;
    }
    nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e67e22;
    }
    nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #e67e22;
    }
    nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #e67e22;
    }

  .contenedor {
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .encabezado {
    position: relative;
    background: white;
    
    width: 200px;
   border-radius: 10%;
   
    padding: 10px 50px;
  }

  .categoria {
    opacity: 0.3;
    text-align: left;
  }

  .pregunta {
    padding: 10px;
  }

  
  .btn {
    background: white;
    width: 60%;
    border-radius: 10%;
    max-width: 550px;
    padding: 10px 2px;
    margin: 5px;
    cursor: pointer;
  }
    
  .btn:hover:after{
    width: 100%;
  }

  .btn:hover {
    transform: scale(1.05);

  }
  
  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }
  
  .puntaje{
    padding:10px;
    color:rgb(0, 0, 0);
  }
  
/* MEDIA */
@media (max-width:720px){
  nav {
    width: 80%; /* Cambiamos el ancho a un porcentaje en pantallas más pequeñas */
  }

  a:nth-child(1) {
    width: 20%; /* Porcentaje del ancho total para el primer enlace */
  }

  a:nth-child(2) {
    width: 30%; /* Porcentaje del ancho total para el segundo enlace */
  }

  a:nth-child(3) {
    width: 20%; /* Porcentaje del ancho total para el tercer enlace */
  }

  a:nth-child(4) {
    width: 30%; /* Porcentaje del ancho total para el cuarto enlace */
  }

  nav .start-home, a:nth-child(1):hover~.animation {
    width: 20%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 0;
  }

  nav .start-quiz, a:nth-child(2):hover~.animation {
    width: 30%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 20%; /* Alineado después del primer enlace */
  }

  nav .start-pokedex, a:nth-child(3):hover~.animation {
    width: 20%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 50%; /* Alineado después del segundo enlace */
  }

  nav .start-contacto, a:nth-child(4):hover~.animation {
    width: 30%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 70%; /* Alineado después del tercer enlace */
  }

  .button {
    margin: 20px; /* Ajustar el margen en pantallas más pequeñas */
  }

  .button a {
    font-size: 24px; /* Ajustar el tamaño del texto en pantallas más pequeñas */
    padding: 15px 40px; /* Ajustar el padding en pantallas más pequeñas */
  }

  .footer{
    text-align:left;
    padding:5%;
  }
  .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
  }
  .footer .row a i{
    margin:0% 3%;
  }
}

@media (max-width: 560px) {
  nav {
    width: 70%; /* Cambiamos el ancho a un porcentaje en pantallas más pequeñas */
  }

  a:nth-child(1) {
    width: 15%; /* Porcentaje del ancho total para el primer enlace */
  }

  a:nth-child(2) {
    width: 25%; /* Porcentaje del ancho total para el segundo enlace */
  }

  a:nth-child(3) {
    width: 15%; /* Porcentaje del ancho total para el tercer enlace */
  }

  a:nth-child(4) {
    width: 25%; /* Porcentaje del ancho total para el cuarto enlace */
  }

  nav .start-home, a:nth-child(1):hover~.animation {
    width: 15%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 0;
  }

  nav .start-quiz, a:nth-child(2):hover~.animation {
    width: 25%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 15%; /* Alineado después del primer enlace */
  }

  nav .start-pokedex, a:nth-child(3):hover~.animation {
    width: 15%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 40%; /* Alineado después del segundo enlace */
  }

  nav .start-contacto, a:nth-child(4):hover~.animation {
    width: 25%; /* Ancho del enlace y la animación en pantallas más pequeñas */
    left: 60%; /* Alineado después del tercer enlace */
  }

  .button{
    margin:25px;
  }

  .button a {
    font-size: 20px; /* Ajustar el tamaño del texto en pantallas más pequeñas */
    padding: 15px 40px; /* Ajustar el padding en pantallas más pequeñas */
  }
}

@media (max-width: 721px){
  .button{
  
    margin:102px;
  }
  
  .button a{
    height: 100%;
    width: auto;
  }
}
/* media 470 */
@media (max-width: 561px) {
  nav{
    width: 300px;
  }
  nav a {
    font-size: 10px; 
    margin:auto;
  }
  nav .animation{
    display: none;
  }


 
}
@media (max-width: 380px) {
  nav{
    width: 280px;
   
  }
  nav a{
    right: auto;
  }
  .button{
  
    margin:90px;
  }
  
  .button a{
    height: 100%;
    width: auto;
    font-size: 10px;
  }

 
}